# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [47]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as Soup
import matplotlib.pyplot as plt
import pandas as pd

In [48]:
browser = Browser('chrome')

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [49]:
# Visit the website
url = 'https://static.bc-edx.com/data/web/mars_facts/temperature.html'
browser.visit(url)

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [50]:
# Create a Beautiful Soup Object
html = browser.html
soup = Soup(html, 'html.parser')

In [68]:
# Extract all rows of data
rows = soup.find_all('tr', class_='data-row')

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Hereâ€™s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [71]:
# Create an empty list
temp_data = []
# Loop through the scraped data to create a list of rows
for row in rows:
    columns = row.find_all('td')
    id = columns[0].text
    td = columns[1].text
    sol = columns[2].text
    ls = columns[3].text
    month = columns[4].text
    min = columns[5].text
    pressure = columns[6].text
    temp_dict = {
        "id":id,
        "terrestrial date":td,
        "sol":sol,
        "ls":ls,
        "month":month,
        "min temp":min,
        "pressure":pressure
    }
    temp_data.append(temp_dict)

In [77]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
column_names = ["id", "terrestrial date", "sol", "ls", "month", "min temp", "pressure"]
mars_df = pd.DataFrame(temp_data, columns=column_names)
mars_df = mars_df.set_index("id")

In [78]:
# Confirm DataFrame was created successfully
mars_df.head()

   terrestrial date sol   ls month min temp pressure
id
2        2012-08-16  10  155     6    -75.0    739.0
13       2012-08-17  11  156     6    -76.0    740.0
24       2012-08-18  12  156     6    -76.0    741.0
35       2012-08-19  13  157     6    -74.0    732.0
46       2012-08-20  14  157     6    -74.0    740.0

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [79]:
# Examine data type of each column
mars_df.dtypes

terrestrial date    object
sol                 object
ls                  object
month               object
min temp            object
pressure            object
dtype: object

In [84]:
# Change data types for data analysis
mars_df = mars_df.astype({"terrestrial date":"datetime64", "sol":"int64","ls":"int64","month":"int64",'min temp':"float64","pressure":"float64"})

In [85]:
# Confirm type changes were successful by examining data types again
mars_df.dtypes

terrestrial date    datetime64[ns]
sol                          int64
ls                           int64
month                        int64
min temp                   float64
pressure                   float64
dtype: object

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [86]:
# 1. How many months are there on Mars?
mars_df["month"].max()

12

In [87]:
# 2. How many Martian days' worth of data are there?
mars_df["sol"].max()-mars_df["sol"].min()

1967

In [60]:
# 3. What is the average low temperature by month?

In [61]:
# Plot the average temperature by month

In [62]:
# Identify the coldest and hottest months in Curiosity's location

In [63]:
# 4. Average pressure by Martian month

In [64]:
# Plot the average pressure by month

In [65]:
# 5. How many terrestrial (earth) days are there in a Martian year?

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [66]:
# Write the data to a CSV

In [67]:
browser.quit()